.content {
  &__logo {
    width: 13rem;
    margin-top: 3rem;
    @media (min-width: 1140px) {
      width: 21rem;
      margin-top: 5.5rem;
    }
  }

  &__box {
    text-align: center;
    margin-top: 5rem;
    @media (min-width: 1140px) {
      margin-top: 7.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 5rem;
    }
  }

  &__picture {
    width: 100%;
    @media (min-width: 1140px) {
      width: unset;
    }
  }

  &__text-box {
    margin-top: 5rem;
    @media (min-width: 1140px) {
      text-align: left;
    }
  }

  &__title {
    font-size: 2.4rem;
    @media (min-width: 810px) {
      font-size: 4rem;
    }
  }

  &__description {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    opacity: 0.6;
    line-height: 2.4rem;
    font-family: $font-secondary;
    @media (min-width: 810px) {
      font-size: 2rem;
      line-height: 2.8rem;
      margin-top: 3rem;
    }
    @media (min-width: 1140px) {
      font-size: 1.85rem;
      line-height: 2.8rem;
      margin-top: 1.5rem;
    }
  }

  &__button {
    padding: 1.3rem 7.6rem;
    border-radius: 3rem;
    border: none;
    color: $color-primary;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    &:hover {
      cursor: pointer;
      color: $color-white;
      background-color: $color-primary--light;
    }
    @media (min-width: 810px) {
      margin-top: 4rem;
    }
    @media (min-width: 1140px) {
      padding: 1.8rem 7rem;
      margin-top: 2.5rem;
      font-size: 1.7rem;
    }
  }

  &__social-box {
    width: 100%;
    margin-bottom: 1rem;
    align-self: flex-end;
    @media (min-width: 1140px) {
      margin-top: 0.9rem;
      width: unset;
    }
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    @media (min-width: 1140px) {
      justify-content: flex-end;
      width: 90%;
    }
  }

  &__li {
    border: 1px solid $color-white;
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      border: 1px solid $color-primary--light;
      .content__svg {
        fill: $color-primary--light;
      }
    }
  }

  &__link {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1140px) {
      width: 3.7rem;
      height: 3.8rem;
    }
  }

  &__svg {
    fill: $color-white;
    width: 1.2rem;
    text-align: center;
    transition: all 0.2s;
    @media (min-width: 1140px) {
      width: 2rem;
    }
  }
}

.attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary--light;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-footer;
  }
  @media (min-width: 1140px) {
    width: 90%;
  }
}
